# Node modules
node_modules/

# Logs
*.log

# Parcel cache
.cache
dist
.parcel-cache/

# Output of 'npm pack'
*.tgz

# dotenv environment variables file
.env

# MacOS files
.DS_Store

# Windows system files
Thumbs.db
Desktop.ini

# Build output
build/
dist/

# IDE-specific files
.idea/
.vscode/